.main{
    width:100%;
    height:100%;
    background-color: aquamarine;
    margin:50px;
    display:flex;
    justify-content: space-around;
}
.one{
    height:100%;
    width: 100%;
    color: rgb(98, 0, 255);
    background: rgb(241, 247, 161);
    padding:50px;
    border:20px;
    margin:50px;
    border-radius: 20px;
    display:inline-block;
}
.two{
    height:100%;
    width: 100%;
    color: rgb(3, 68, 3);
    background: rgb(235, 201, 218);
    padding:50px;
    border:20px;
    margin:50px;
    border-radius: 20px;
    display:inline-block;
}
.three{
    height:100%;
    width: 100%;
    color: rgb(68, 3, 3);
    background: rgb(164, 231, 231);
    padding:50px;
    border:20px;
    margin:50px;
    border-radius: 20px;
    display:inline-block;
}
.section{
    width:100%;
    height:100%;
    background-color: rgb(121, 221, 107);
    margin:50px;
    display:flex;
    justify-content: space-around;
}
.one{
    height:100%;
    width: 100%;
    color: rgb(230, 195, 121);
    background: rgb(99, 8, 8);
    padding:50px;
    border:20px;
    margin:50px;
    border-radius: 20px;
    display:inline-block;
}
.two{
    height:100%;
    width: 100%;
    color: rgb(6, 110, 29);
    background: rgb(224, 168, 141);
    padding:50px;
    border:20px;
    margin:50px;
    border-radius: 20px;
    display:inline-block;
}
.four{
    padding:50px;
    border:20px;
    margin:50px;
    display:inline-block;
    display:flex;
    justify-content:space-around;
}
